:root{
    --cor_fraca:#ece0d1;
    --cor_media_fraca:#dbc1ac;
    --cor_media: #967259;
    --cor_media_forte: #634832;
    --cor_forte: #38220f;
    --fonte: Arial, Helvetica, sans-serif;
}


body {
    font-family: var(--fonte);
    background-color: var(--cor_fraca);    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    color: #38220f;
}

ul{
    list-style-type: '\2714\0020\0020';
    
}